<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <%= link_to "Codaisseurify - Metal Edition", root_path, class: "navbar-brand" %>
  </div>
  <div class="align-button">
    <%= link_to "Add Artist", new_artist_path, class: "btn btn-danger" %>
  </div>
</nav>
