@import "bootstrap-sprockets";
@import "bootstrap";

div.align-image {
  margin-top: 60px;
  display: block;
  width: 100%;
}

.align-button {
  margin-top: 10px;
  float: right;
}

.thumbnail img {
  width: 300px;
  height: 200px;

}
div.align-add-delete{
  margin-top: 50px;
}
