@import "bootstrap-sprockets";
@import "bootstrap";
div.align-image {
  margin-top: 60px;

}

.align-button {
  margin-top: 10px;
  float: right;
}

.thumbnail img {
  width: 300px;
  height: 200px;

}
